* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../IMAGENES/Cabecera/banner1.jpg');
    background-size: cover;
    height: 100vh;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgb(216, 207, 207);
}

}
